@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #333;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
	--background: #0a0a0a;
	--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
}

/*ログイン/新規登録ページ*/
.btn-icon-google::before{
	content: '';
	position: absolute;
	width: 26px;
	height: 26px;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1749267296/icons8-google%E3%81%AE%E3%83%AD%E3%82%B4_ldlqhq.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	left: 20px;
}

.btn-icon-mail::before{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1749268482/envelope-regular_hls6il.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	left: 22px;
}

/*HOMEページ*/
.post-marker {	
	transform: translate(-50%, -100%);
	position: relative;
	display: inline-block;
	margin-bottom: 11px;
	padding: 20px;
	border: 2px solid #000000;
	border-radius: 9999px;
	background-color: #ffffff;
	text-align: left;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #000000;
}

.post-marker::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  border-style: solid;
  border-width: 11px 8px 0 8px;
  border-color: #000000 transparent transparent;
  translate: -50% 100%;
}

.post-marker::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  border-style: solid;
  border-width: 7.6px 5.5px 0 5.5px;
  border-color: #ffffff transparent transparent;
  translate: -50% 100%;
}

.post-image{
	position: absolute;
	width: 34px;
	height: 34px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	top: 3px;
	left: 3px;
	border-radius: 50%;
}

.now-location-button {
    position: absolute;
	display: flex;
    align-items: center;
    justify-content: center;
	width: 48px;
    height: 48px;
    background-color: #fff;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1750821278/position_ya9p1s.svg");
	background-size: 26px;
	background-position: center;
	background-repeat: no-repeat;
    border: 1px solid #ccc;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
	bottom: 20px;
    right: 10px;
	z-index: 10;
}

/*投稿ダイアログページ*/
.post-icon{
	width: 64px;
	height: 64px;
	margin: 20px auto;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1750736922/map-pin-plus_abxslv.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.close-icon{
	position: absolute;
	width: 40px;
	height: 40px;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1750818660/xmark_dv4bnv.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	top: 12px;
	right: 12px;
}

.star-active{
	display: block;
	width: 24px;
	height: 24px;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1750820083/star-solid_skfdki.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.star-inactive{
	display: block;
	width: 24px;
	height: 24px;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1750820083/star_xiuqjw.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.post-image-icon{
	display: block;
	width: 70px;
	height: 70px;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1750820435/media-image-plus-gray_hs8w0u.svg");
	background-size: 44px;
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid #5c5c5c;
	border-radius: 8px;
}

.rounded-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 300px;
	margin-top: 10px;
	padding: 10px 0;
	background-color: #64e232;
	border-radius: 24px;
	box-shadow: 0 2px 6px rgba(0,0,0,0.1);
	font-size: 16px;
	font-weight: bold;
	color: #fff;
}

.loading-overlay{
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100dvh;
	background-color: rgba(0, 0, 0, 0.6);
	top: 0;
	left: 0;
	z-index: 1000;
}

.loading-icon{
	color: #fff;
	font-size: 13px;
}

.loading-icon::before{
	content: '';
	width: 50px;
	height: 50px;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1747798532/ajax-loader_1_dwfbcq.gif");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	margin-bottom: 10px;
}

/*ユーザーページ*/
.user-icon-box{
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #fff;
	border: 4px solid #c4c4c4;
}

.user-icon{
	position: absolute;
	width: 92%;
	height: 92%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	top: 4%;
	left: 4%;
}

.change-icon{
	position: absolute;
	width: 30px;
	height: 30px;
	right: -2px;
	bottom: -2px;
	border-radius: 50%;
	background-color: #fff;
	cursor: pointer;
}

.change-icon::before{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1750736914/plus_white_mivdcv.svg");
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #64e232;
	border-radius: 50%;
	top: calc(50% - 24px/2);
	left: calc(50% - 24px/2);
}

.list-icon{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100%;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1750907289/list-gray_t47ppu.svg");
	background-size: 26px;
	background-repeat: no-repeat;
	background-position: center;
}

.favorite-icon{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100%;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1750907289/heart-gray_wfluhw.svg");
	background-size: 26px;
	background-repeat: no-repeat;
	background-position: center;
}

/*footer*/
.footer-icon-home{
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1749998443/home-alt-slim_cr6glt.svg");
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	box-sizing: border-box;
}

.footer-icon-home::before{
	content: 'HOME';
	position: absolute;
	font-size: 10px;
	bottom: -6px;
}

.footer-icon-my{
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1749998443/user_rfhgw3.svg");
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
}

.footer-icon-my::before{
	content: 'MY';
	position: absolute;
	font-size: 10px;
	bottom: -6px;
}

.footer-icon-center::before{
	content: '';
	position: absolute;
	width: 50px;
	height: 50px;
	background: linear-gradient(130deg, rgba(99, 255, 60, 0.9) 30%, rgba(0, 226, 170, 0.9) 100%);
	border-radius: 50%;
	top: -15px;
}

.footer-icon-center::after{
	content: '';
	position: absolute;
	width: 50px;
	height: 50px;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1750736914/plus_white_mivdcv.svg");
	background-size: 40px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	top: -15px;
}
